<!DOCTYPE html>
<html>
<head>
  <title>cul8r &lt;3</title>
  <%= stylesheet_link_tag "application", "gritter" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      $(function () {
          $(".edit_link").click(function () {
              $.get("<%=params[:controller]%>" + "/" + $(this).attr("id") + "/edit", function (data) {

                  $("#edit_form .modal-body").html(data);
                  $("#edit_form").modal('toggle');
              });
          });
      });
  </script>
  <%= yield(:head) %>
</head>
<body>
<div id="wrapper">
  <div class="navbar navbar-fixed-top" style="z-index: 999999999">
    <div class="navbar-inner" style="z-index: 999999999">
      <div class="container">
        <a class="brand" href="/">cul8r &lt;3</a>
        <ul class="nav">
          <li><a href="#about" style="color:white;">About</a></li>
          <li>
            <form class="navbar-search pull-left">
              <input type="text" class="search-query" placeholder="Search">
            </form>
          </li>
        </ul>

        <% if user_signed_in? %>
            <div class="pull-right" style="margin-top: 10px;color:white;">
              <%= current_user.email %>
              <span class="nav_link">
              | <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :style => "color:white;" %>
            	</span>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="content">
      <%= js extend_gritter :position => :bottom_right %>
      <%= js add_gritter(flash[:notice], :image => :success, :title => "Notice", :sticky => false, :time => 2000) %>
      <%= js add_gritter(flash[:alert], :image => :warning, :title => "Alert!", :sticky => false, :time => 5000) %>
      <h2>  <%= yield(:page_header) %>  </h2>
        <%= yield %>
    </div>
  </div>
</div>

<%= javascript_include_tag "jquery-pageslide/jquery.pageslide" %>


</body>
</html>



