<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag "application", "gritter" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      $(function () {
          $(".edit_link").click(function () {
              $.get("<%=params[:controller]%>" + "/" + $(this).attr("id") + "/edit", function (data) {

                  $("#edit_form .modal-body").html(data);
                  $("#edit_form").modal('toggle');
              });
          });
      });
  </script>
  <%= yield(:head) %>

  <meta property="og:title" content="CU l8r" />
  <meta property="og:url" content="http://www.cul8r.me" />
  <meta property="og:image" content="http://www.cul8r.me/thumbnail.png"/>

</head>
<body>

<div id="wrapper">
  <div class="navbar navbar-fixed-top" style="z-index: 999999999">
    <div class="navbar-inner" style="z-index: 999999999">
      <div class="container">
        <a class="brand" href="/">CU l8r &lt;3</a>
        <ul class="nav">
          <% if user_signed_in? %>
              <li>
                <%= form_tag '', :method => :get, :class => 'navbar-search pull-left' do %>
                    <%= text_field_tag 'q', params[:q], {:class => 'search-query', :placeholder => "Search movies"} %>
                <% end %>
              </li>
          <% end %>
        </ul>

        <ul class="nav pull-right">
          <li>
            <%= link_to welcome_contact_path, :class => "top_nav_link_white" do %>
                <i class="icon-pencil icon-white"></i> Contact Us
            <% end %>
          </li>
          <% if user_signed_in? %>
              <li>
                <%= link_to destroy_user_session_path, :method => :delete, :class => "top_nav_link_white", :title => 'Logout' do %>
                    <i class="icon-off icon-white"></i>
                <% end %>

              </li>
          <% end %>
        </ul>


      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <%= js extend_gritter :position => :bottom_right %>
      <%= js add_gritter(flash[:notice], :image => :success, :title => "Notice", :sticky => false, :time => 2000) %>
      <%= js add_gritter(flash[:alert], :image => :warning, :title => "Alert!", :sticky => false, :time => 5000) %>

      <% if controller.controller_name == 'movies' %>
          <div class="row-fluid">
            <div class="span2 watch-list inner_content">
              <%= render :partial => 'movies/watch_list' %>
            </div>
            <div class="span9">
              <h2>  <%= yield(:page_header) %>  </h2>
              <%= yield %>
            </div>
          </div>
      <% else %>
          <h2>  <%= yield(:page_header) %>  </h2>
          <%= yield %>
      <% end %>

      <div class='footer'>
        <%= render :partial => 'layouts/footer' %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "jquery-pageslide/jquery.pageslide" %>


</body>
</html>



