<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag "application", "gritter" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      $(function () {
          $(".edit_link").click(function () {
              $.get("<%=params[:controller]%>" + "/" + $(this).attr("id") + "/edit", function (data) {

                  $("#edit_form .modal-body").html(data);
                  $("#edit_form").modal('toggle');
              });
          });
      });
  </script>
  <%= yield(:head) %>
</head>
<body>
<div id="wrapper">
  <div class="navbar navbar-fixed-top" style="z-index: 999999999">
    <div class="navbar-inner" style="z-index: 999999999">
      <div class="container">
        <a class="brand" href="/">cul8r &lt;3</a>
        <ul class="nav">
          <li><a href="#about" class="top_nav_link_white">About</a></li>
          <li><a href="#contact" class="top_nav_link_white">Contact us</a></li>
          <% if user_signed_in? %>
              <li>
                <%= form_tag '', :method => :get, :class => 'navbar-search pull-left' do %>
                    <%= text_field_tag 'q', params[:q], {:class => 'search-query', :placeholder => "Search movies"} %>
                <% end %>
              </li>
              <li><a href="#advanced search" class="top_nav_link_white">Advanced Search</a></li>
          <% end %>
        </ul>

        <% if user_signed_in? %>
            <div class="pull-right" style="margin-top: 10px;color:white;">
              <%= current_user.email %>
              <span class="nav_link">
              | <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :style => "color:white;" %>
            	</span>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="content">
      <%= js extend_gritter :position => :bottom_right %>
      <%= js add_gritter(flash[:notice], :image => :success, :title => "Notice", :sticky => false, :time => 2000) %>
      <%= js add_gritter(flash[:alert], :image => :warning, :title => "Alert!", :sticky => false, :time => 5000) %>

      <% if current_user %>
          <div class="row-fluid">
            <div class="span2 watch-list">
              <%= render :partial => 'movies/watch_list' %>
            </div>
            <div class="span10">
              <h2>  <%= yield(:page_header) %>  </h2>
              <%= yield %>
            </div>
          </div>
      <% else %>
          <h2>  <%= yield(:page_header) %>  </h2>
          <%= yield %>
      <% end %>

      <div class='footer'>
        <%= render :partial => 'layouts/footer' %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "jquery-pageslide/jquery.pageslide" %>


</body>
</html>



